/*Global*/
:root{
    /*Color*/
    --color-white:#ffffff;
    --color-black:#000000;
    --color-main:#003366;
    --color-dark-gray:#4a4f58;
    --color-brown:#a1895c;
    --color-yellow:#ffba00;
    --color-light-gray:#f5f5f5;

    /*Font size*/
    --font-large:48px;
    --font-medium:28px;
    --font-regular:18px;
    --font-small:16px;
    --font-micro:14px;

    /*Font weight*/
    --weight-bold:700;
    --weight-semi-bold:600;
    --weight-regular:400;

    /*Size*/
    --size-border-radius:4px;
}

/*Universal tags*/
*{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    cursor: default;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    padding-left: 0;
}

li{
    list-style: none;
}



/**Typography*/
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3{
    font-size: var(--font-medium);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}

p{
    font-size: 20px;
    font-weight: var(--weight-regular);
    line-height: 40px;
    color: var(--color-black);
    margin: 8px 0;
}

/*Navbar*/
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-main);
    align-items: center;
    color: var(--color-white);
    padding: 16px;
}

.navbar__menu{
    display: flex;
}

.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active{
    border: 1px solid var(--color-white);
}

.navbar__menu__item:hover{
    background-color:var(--color-yellow);
}

/*Me*/
#me{
    background-image: url('./imgs/me-background.png.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    text-align: center;
}

.me__avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border:2px solid var(--color-white);
}

.me__title,
.me__description{
    color: var(--color-white);
}



/*Section common*/
.section{
    padding: 50px;
    text-align: left;
    max-width: 1200px;
    margin:auto;
}
.section h1{
    border-bottom: 4px solid var(--color-yellow);
    padding-bottom: 20px;
  }


/*Education*/
.education__contents{
    font-size: var(--font-medium);
}

 span{
    font-size: var(--font-small);
    float: right;
    color: var(--color-black);
}

/*Curriculum*/
#curriculum h3{
    color: var(--color-brown);
    margin: 30px 0 20px 0;
}


.curriculum__contents-1{
    margin-bottom: 100px;
}

/*WorkExprience*/
#work_exprience h3{
   color: var(--color-brown);
   margin: 30px 0 20px 0;
}
