/*Global*/
:root{
    /*Color*/
    --color-white:#ffffff;
    --color-black:#000000;
    --color-main:#003366;
    --color-dark-gray:#4a4f58;
    --color-brown:#a1895c;
    --color-yellow:#ffba00;
    --color-light-gray:#f5f5f5;

    /*Font size*/
    --font-large:48px;
    --font-medium:28px;
    --font-regular:18px;
    --font-small:16px;
    --font-micro:14px;

    /*Font weight*/
    --weight-bold:700;
    --weight-semi-bold:600;
    --weight-regular:400;

    /*Size*/
    --size-border-radius:4px;
}

/*Universal tags*/
*{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    cursor: default;
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    padding-left: 0;
}

li{
    list-style: none;
}



/**Typography*/
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3{
    font-size: var(--font-medium);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}

h4{
    font-size: 20px;
}

p{
    font-size: 20px;
    font-weight: var(--weight-regular);
    line-height: 40px;
    color: var(--color-black);
    margin: 8px 0;
}

button{
    background-color: transparent;
    border: none;
}

/*Navbar*/
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-main);
    align-items: center;
    color: var(--color-white);
    padding: 16px;
}

.navbar__menu{
    display: flex;
}

.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active{
    border: 1px solid var(--color-white);
}

.navbar__menu__item:hover{
    background-color:var(--color-yellow);
}

.navbar__toggle-btn{
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}

/*Me*/
#me{
    background-image: url('./imgs/me-background.png.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    text-align: center;
}

.me__avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border:2px solid var(--color-white);
}

.me__title,
.me__description{
    color: var(--color-white);
}



/*Section common*/
.section{
    padding: 50px;
    text-align: left;
    max-width: 1200px;
    margin:auto;
}
.section h1{
    border-bottom: 4px solid var(--color-yellow);
    padding-bottom: 20px;
  }


/*Education*/
.education__contents{
    font-size: var(--font-medium);
}

 span{
    font-size: var(--font-small);
    float: right;
    color: var(--color-black);
}

/*Curriculum*/
#curriculum h3{
    color: var(--color-brown);
    margin: 30px 0 20px 0;
}

.curriculum__contents-1{
    margin-bottom: 100px;
}

/*WorkExprience*/
#work_exprience h3{
   color: var(--color-brown);
   margin: 30px 0 20px 0;
}

/*Skills*/
#skills{
    background-color: var(--color-light-gray);
}


.skillset{
    display: flex;
    background-color: var(--color-brown);
    text-align: center;
    margin: 20px 0;
}
.skillset span{
    color: var(--color-light-gray)
}
.skillset h3{
    color: var(--color-light-gray)
}

.skillset__left{
    flex-basis: 60%;
    background-color: var(--color-dark-gray);
    padding: 60px 40px;
}

.skillset__right{
    flex-basis: 40%;
    padding: 20px 40px;
}

.skill__description{
    display: flex;
    justify-content: space-between;
}

.skill{
    margin-bottom: 32px;
}
.skill__bar{
    width: 100%;
    height: 3px;
    background-color: var(--color-light-gray)
}

.skill__value{
    height: 3px;
    background-color: var(--color-yellow);
}

.texteditor{
    margin-top: 50px;
}
.texteditor li{
    color: var(--color-light-gray);
    padding: 5px;
}

/*Introduce_myself*/
#introduce_myself h3{
    margin: 50px 0 20px 0;
    color: var(--color-brown);
    font-weight: var(--weight-semi-bold)
}

/*Contact*/
#contact{
    max-width: 100%;
    background-color: var(--color-main);
    text-align: center;
    color: var(--color-light-gray);
}

.contact__title{
    color: var(--color-yellow);
    margin: 32px 0;
}

#contact h1{
    border: none;
}
.contact__email{
    color: var(--color-light-gray);
}

#contact i{
    font-size: 30px;
}

.contact__links i:hover{
    transform: scale(1.5);
    color: var(--color-yellow);
    transition-duration: 0.5s;
}


/*responsive*/
@media screen and (max-width:768px){
    .navbar__toggle-btn{
        display: block;
    }
    #navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu{
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }
    .navbar__menu .active{
        border: none;
    }

    .section h1{
        text-align: center;
    }
    .skillset{
        flex-direction: column;
    }

    .curriculum__contents-1 span {
        margin-top: 10px;
        float: left;
    }
    .curriculum__contents-1 p{
        margin-top: 50px;
    }

    .curriculum__contents-2 h3>p{
        display: none;
    }

}
